.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.clearfix {
  clear: both;
}

@media (max-width: 767px) {
  .text-center-xs {
    text-align: center;
  }
}

body {
  background-color: #f6f6f6;
  font-family: Tahoma;
  font-size: 16px;
}

ul {
  padding: 0;
  list-style: none;
}

.header {
  border-bottom: 1px solid #9c9c9c;
  overflow: hidden;
  padding: 20px 0;
}
.header .logo {
  position: relative;
}
@media (min-width: 768px) {
  .header .logo {
    width: 100%;
    text-align: center;
    float: none;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .header .logo {
    width: 30%;
    float: left;
    text-align: left;
  }
}
@media (max-width: 767px) {
  .header .logo {
    padding-bottom: 15px;
  }
}
.header .logo h1 {
  margin-bottom: 0;
  margin-top: 10px;
}
.header .logo p {
  color: #9c9c9c;
}
.header .navbar {
  overflow: hidden;
  background-color: #e2494c;
  border-radius: 15px;
}
@media (min-width: 768px) {
  .header .navbar {
    width: 100%;
    float: none;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .header .navbar {
    width: 70%;
    float: left;
    margin-top: 1em;
  }
}
@media (max-width: 767px) {
  .header .navbar {
    display: none;
    -webkit-transform: translateX(-705px);
            transform: translateX(-705px);
    border-radius: 0;
  }
}
.header .navbar li {
  width: 20%;
  float: left;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 767px) {
  .header .navbar li {
    display: block;
    float: none;
  }
}
.header .navbar li a {
  color: white;
  display: block;
  padding: 20px 10px;
  text-decoration: none;
}
.header .navbar li a:hover {
  color: #ddd;
}

@media (max-width: 767px) {
  .header .navbar.show {
    display: block;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.heading-border {
  position: relative;
}
.heading-border h2 {
  background-color: #e2494c;
  text-align: center;
  padding: 10px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  margin: 40px auto;
  border-radius: 15px;
}
.heading-border h2::before {
  content: "";
  position: absolute;
  background-color: #9c9c9c;
  width: 100%;
  height: 1.5px;
  left: 0;
  top: 50%;
  z-index: -1;
}

.main-btn {
  background-color: rgba(226, 73, 76, 0.8);
  padding: 10px 15px;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.main-btn:hover {
  background-color: #e2494c;
}

.header .logo i {
  position: absolute;
  font-size: 25px;
  top: 20px;
  right: 15px;
  background-color: #e2494c;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}
@media (max-width: 767px) {
  .header .logo i {
    display: block;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slider blockquote {
  font-size: 18px;
  font-family: Tahoma, arial;
  font-weight: bold;
  font-style: italic;
  color: #9c9c9c;
  width: 80%;
  text-align: center;
  line-height: 1.7;
  margin: 30px auto;
}
.slider img {
  max-width: 100%;
}
.slider .bullets {
  text-align: center;
}
.slider .bullets li {
  display: inline-block;
  background-color: #9c9c9c;
  border: 3px solid #9c9c9c;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.slider .bullets li.active, .slider .bullets li:hover {
  border: 3px solid black;
  background-color: white;
}

.services {
  padding: 20px 0;
}
@media (min-width: 992px) {
  .services .service-cont {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
  }
}
.services .service-cont .service-box {
  padding-bottom: 15px;
}
@media (max-width: 767px) {
  .services .service-cont .service-box i {
    display: block;
    margin-bottom: 15px;
  }
}
.services .service-cont .service-box .title i {
  font-size: 30px;
  position: relative;
  padding-right: 10px;
  top: 4px;
}
.services .service-cont .service-box p {
  line-height: 1.5;
  color: #9c9c9c;
}
.services .service-cont .service-box a {
  color: #e2494c;
  text-decoration: none;
}

.our-players {
  padding: 10px 0;
}
.our-players .players-cont {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  text-align: center;
}
.our-players .players-cont .player-box img {
  max-width: 100%;
  cursor: pointer;
}
.our-players .players-cont .player-box .modal {
  background-color: #9c9c9c;
  padding: 40px;
  border-radius: 5px;
  border: none;
}
.our-players .players-cont .player-box .modal::-webkit-backdrop {
  background-color: black;
  opacity: 0.3;
}
.our-players .players-cont .player-box .modal::backdrop {
  background-color: black;
  opacity: 0.3;
}
.our-players .players-cont .player-box .modal i {
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 45%;
  cursor: pointer;
}
.our-players .players-cont .player-box .title {
  color: #9c9c9c;
}
.our-players .players-cont .player-box .title span {
  font-weight: bold;
  font-style: italic;
  color: black;
}
.our-players .players-cont .player-box p {
  color: #9c9c9c;
  line-height: 1.5;
}
.our-players .players-cont .player-box a {
  color: #e2494c;
  text-decoration: none;
}

.gallery {
  padding: 10px 0;
}
.gallery .gallery-cont {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  text-align: center;
}
.gallery .gallery-cont .img-holder {
  padding-bottom: 15px;
}
.gallery .gallery-cont .img-holder img {
  max-width: 100%;
}

.footer {
  background-color: rgb(182, 182, 182);
  padding: 15px 0;
}
.footer .footer-cont {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
.footer .footer-cont .photo {
  width: 450px;
}
.footer .footer-cont .photo .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.footer .footer-cont .photo .img-box img {
  max-width: 100%;
}
.footer .footer-cont .photo .img-box .text {
  margin-left: 15px;
  text-align: start;
}
.footer .footer-cont .photo .img-box .text h4 {
  margin-bottom: 10px;
  color: #e2494c;
}
.footer .footer-cont .photo .img-box .text p {
  color: #777;
  line-height: 1.6;
  width: 70%;
}
@media (max-width: 767px) {
  .footer .footer-cont .photo .img-box p {
    width: 100% !important;
  }
}
.footer .footer-cont .info .info-cont ul {
  padding: 10px;
  margin-bottom: 10px;
}
.footer .footer-cont .info .info-cont ul li {
  margin-bottom: 5px;
  color: #777;
}
.footer .footer-cont .info .info-cont ul li:nth-child(4) {
  margin-bottom: 20px;
}
.footer .footer-cont .info .info-cont ul li span {
  color: #e2494c;
}
.footer .footer-cont .info .info-cont .working {
  color: #777;
}
.footer .footer-cont .info .info-cont p {
  margin-bottom: 5px;
  color: #777;
}
.footer .footer-cont .contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .footer-cont .contact form input[type=text],
.footer .footer-cont .contact form input[type=email],
.footer .footer-cont .contact form textarea {
  border: 1px solid #888;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer .footer-cont .contact form input[type=text]::-webkit-input-placeholder, .footer .footer-cont .contact form input[type=email]::-webkit-input-placeholder, .footer .footer-cont .contact form textarea::-webkit-input-placeholder {
  color: #888;
}
.footer .footer-cont .contact form input[type=text]::-moz-placeholder, .footer .footer-cont .contact form input[type=email]::-moz-placeholder, .footer .footer-cont .contact form textarea::-moz-placeholder {
  color: #888;
}
.footer .footer-cont .contact form input[type=text]:-ms-input-placeholder, .footer .footer-cont .contact form input[type=email]:-ms-input-placeholder, .footer .footer-cont .contact form textarea:-ms-input-placeholder {
  color: #888;
}
.footer .footer-cont .contact form input[type=text]::-ms-input-placeholder, .footer .footer-cont .contact form input[type=email]::-ms-input-placeholder, .footer .footer-cont .contact form textarea::-ms-input-placeholder {
  color: #888;
}
.footer .footer-cont .contact form input[type=text]::placeholder,
.footer .footer-cont .contact form input[type=email]::placeholder,
.footer .footer-cont .contact form textarea::placeholder {
  color: #888;
}
.footer .footer-cont .contact form input[type=text]:focus,
.footer .footer-cont .contact form input[type=email]:focus,
.footer .footer-cont .contact form textarea:focus {
  outline: none;
}
.footer .footer-cont .contact form input[type=text]:focus textarea::-webkit-input-placeholder, .footer .footer-cont .contact form input[type=email]:focus textarea::-webkit-input-placeholder, .footer .footer-cont .contact form textarea:focus textarea::-webkit-input-placeholder {
  display: none;
}
.footer .footer-cont .contact form input[type=text]:focus textarea::-moz-placeholder, .footer .footer-cont .contact form input[type=email]:focus textarea::-moz-placeholder, .footer .footer-cont .contact form textarea:focus textarea::-moz-placeholder {
  display: none;
}
.footer .footer-cont .contact form input[type=text]:focus textarea:-ms-input-placeholder, .footer .footer-cont .contact form input[type=email]:focus textarea:-ms-input-placeholder, .footer .footer-cont .contact form textarea:focus textarea:-ms-input-placeholder {
  display: none;
}
.footer .footer-cont .contact form input[type=text]:focus textarea::-ms-input-placeholder, .footer .footer-cont .contact form input[type=email]:focus textarea::-ms-input-placeholder, .footer .footer-cont .contact form textarea:focus textarea::-ms-input-placeholder {
  display: none;
}
.footer .footer-cont .contact form input[type=text]:focus input[type=text],
.footer .footer-cont .contact form input[type=text]:focus input[type=email],
.footer .footer-cont .contact form input[type=text]:focus textarea::placeholder,
.footer .footer-cont .contact form input[type=email]:focus input[type=text],
.footer .footer-cont .contact form input[type=email]:focus input[type=email],
.footer .footer-cont .contact form input[type=email]:focus textarea::placeholder,
.footer .footer-cont .contact form textarea:focus input[type=text],
.footer .footer-cont .contact form textarea:focus input[type=email],
.footer .footer-cont .contact form textarea:focus textarea::placeholder {
  display: none;
}
.footer .footer-cont .contact form textarea {
  height: 140px;
}
.footer .footer-cont .contact form input[type=submit] {
  width: 130px;
}
.footer .title {
  color: #444;
  font-weight: normal;
  margin-bottom: 10px;
}
.footer .copy-right {
  color: #777;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=homepage.css.map */